<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_test') }}">Test</a></li>
        <li><a href="{{ path('serie_list') }}">TV Shows</a></li>
        <li><a href="{{ path('serie_add') }}">Add TV Show</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</nav>